@model WhatToDrink.Models.BeerViewModels.BeerDetail

@using Microsoft.AspNetCore.Identity
@using WhatToDrink.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (@UserManager.GetUserName(User) != null)
{
    <h3>
        Hello, @UserManager.GetUserName(User)!
    </h3>
}

<div class="card">
    <img class="card-img-top" src="@Html.DisplayFor(model => model.Beer.ImgUrl)" alt="Beer image">
    <div class="card-block">
        <h3 class="card-title">@Html.DisplayFor(model => model.Beer.Name)</h3>
        <p class="card-text">Brewery: @Html.DisplayFor(model => model.Beer.Brewery)</p>
        <p class="card-text"> Style: @Html.DisplayFor(model => model.Beer.Style.Name)</p>
        <p class="card-text"> Availability:  @Html.DisplayFor(model => model.Beer.Season.Name)</p>
        <p class="card-text"> ABV:  @Html.DisplayFor(model => model.Beer.ABV.Name)</p>
    </div>
   
   
</div>
